* {
    box-sizing: border-box;
    background-color: black;
}

body {
    color: white;
    text-align: center;
    line-height: 1.5;;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    color: black;
}

header {
    padding-top: 10%;
}