* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Tomorrow', sans-serif;
    background: linear-gradient(10deg, #2F344A, rgb(1, 104, 129) ) ;
    color: #edf0f1;
    font-weight: 500;
}

li, a, button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

header {
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 5px;
    border: 1px solid black;
    background-color:#24252A;
    position: fixed;
    width: 100%;
}

.name {
    font-size: 15px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    display: inline-flex;
    margin-right: 800px;
}

.nav_links {
    list-style: none;
    margin-bottom: 3px;
}

.nav_links li {
    display: inline-block;
    justify-content:space-evenly;
    padding: 3px;
    margin-left: 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    opacity: 70%;
}

.button {
    padding: 5px 20px;
    background-color: rgb(1, 104, 129);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.hero {
    padding-top: 5%;
    font-size: 45px;
    min-height: 150px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 10px 5px 10px #24252A;
}

.title {
    font-size: 30px;
    text-shadow: 10px 5px 10px #24252A;
}

.biography {
    margin: auto;
    text-align: center;
    line-height: 2.0;
    font-size: 20px;
    width: 90%
}

.description{
    margin: auto;
    padding-top: 15px;
    width:85%;
}


.project__box {
    text-align: center;
    margin: auto;
    line-height: 2.0;
    font-size: 20px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.appScreenshots {
    padding-bottom: 20px;
}

.appScreenshots a {
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.appScreenshots a:hover {
    color: yellowgreen; 
}

.phone__number {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    padding: 0 1rem ;
    font-size: 1.5rem;
}

.phone__number i {
    padding: 0 .5rem;
}

.phone__number:hover {
    color: yellowgreen; 
}

.image {
    max-width: 400vh auto;
    min-width: 150vh auto;
    max-height: 200vh auto;
    min-height: 100vh auto;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #24252A;
}

.image:hover {
    opacity: 80%;
    transition: ease-in 0.4ms;
}

img {
    margin: 0 auto;
    height: auto;     
}


@media screen and (min-width: 480px) {
    .image {
        display: block;
        margin-bottom: 10px;
        height: auto;
    }

    img {
        margin: 0 auto;
        
    }

    header {
        justify-content: space-between;
        padding: 5px;
        
    }

    .nav_links li {
        justify-content:space-evenly;
        padding: 3px;
        margin-left: 10px;
    }
    .name {
        margin-right: auto;
        
    }

    .hero{
        padding-top: 70px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 600px) {
    .image {
        display: block;
        margin-bottom: 10px;
    }

    img {
        margin: 0 auto;
        width: 50%;
        height: auto;
    }

    header {
        justify-content: space-between;
        padding: px;
    }

    .nav_links li {
        justify-content:space-evenly;
        padding: 3px;
        margin-left: 10px;
    }
    

    .hero{
        padding-top: 70px;
        padding-bottom: 50px;
    }
}


@media screen and (max-width: 1600px) {
    .image {
        display: block;
        margin-bottom: 10px;
    }

    img {
        margin: 0 auto;
        width: 75%;
        height: auto;
    }

    header {
        justify-content: space-between;
        padding: 5px;
    }

    .nav_links li {
        justify-content: space-evenly;
        padding: 3px;
        margin-left: 10px;
    }
    .name {
        margin-right: auto;
    }

    .hero{
        padding-top: 70px;
        padding-bottom: 50px;
    }
}